.Item{
    width:100%;
    height:60px;
    background:white;
    border-radius:10px;
    margin-bottom:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: #0000 10px;
    position:relative
}
.item-name{
    width:100%;
    height:100%;
    cursor: pointer;
    padding:15px;
    display:flex;
    align-items: center;
}
.item-star{
    position:absolute;
    right:15px;
    z-index:100;
    cursor: pointer;
}
.Item span{
    color:black;
    text-shadow: none;
}
.Item p{
    cursor: pointer;
}
.Item img{
    max-height:25px;
}