.Main{
    width:78%;
    height:100%;
    display:flex;
    flex-direction: column;
    color:white;
    justify-content: space-between;
    max-width:1920px;
    margin: 0 auto 0 auto
}
.current{
    width:80%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:50px;
}
.location{
    margin-bottom:10px;
    display: flex;
    align-items: center;
}
.current-city{
    font-size:70px;
    margin-right:10px;
}
.code{
    font-size:50px;
    align-self: flex-end;
}
.current-star img{
    margin-top:10px;
    max-height:40px;
}
.weather-icon{
    height:144px;
    width:144px;
    margin-bottom:10px;
}
.weather-description{
    font-size:25px;
    margin-bottom:20px;
}
.current-temp{
    position:relative;
}
.cur-num{
    font-size:100px;
}
.cur-degree{
    height:20px;
    width:20px;
    border:4px solid white;
    border-radius: 50%;
    position:absolute;
    top:5px;
}
.apparent-temp{
    position:relative;
    margin-bottom:35px;
}
.app-num{
    font-size:50px;
}
.app-degree{
    height:16px;
    width:16px;
    border:4px solid white;
    border-radius: 50%;
    position:absolute;
    top:5px;
}
.meta{
    display: flex;
}
.meta-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:150px;
    position:relative;
}
.meta-item img{
    height:30px;
    margin-bottom:15px;
}
.hum::after{
    content:"Humidity";
    position:relative;
    bottom:-10px;
    background-color: rgb(223, 223, 223);
    padding:5px;
    border-radius:5px;
    color:black;
    font-size:13px;
    visibility:hidden;
}
.hum::before{
    content:"";
    position:absolute;
    bottom:14px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent  transparent rgb(223, 223, 223) transparent ;
    visibility:hidden;
}
.pres::after{
    content:"Pressure";
    position:relative;
    bottom:-10px;
    background-color: rgb(223, 223, 223);
    padding:5px;
    border-radius:5px;
    color:black;
    font-size:13px;
    visibility:hidden;
}
.pres::before{
    content:"";
    position:absolute;
    bottom:14px;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent  transparent rgb(223, 223, 223) transparent ;
    visibility:hidden;
}
.spd::after{
    content:"Wind Speed";
    position:relative;
    bottom:-10px;
    background-color: rgb(223, 223, 223);
    padding:5px;
    border-radius:5px;
    color:black;
    font-size:13px;
    visibility:hidden;
}
.spd::before{
    content:"";
    position:absolute;
    bottom:14px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent  transparent rgb(223, 223, 223) transparent ;
    visibility:hidden;
}
.meta-item:hover::after, .meta-item:hover::before{
    visibility: visible;
}


@media (max-width:1200px){
    .Main{
        width:70%;
    }
    .current-city{
        font-size:50px;
    }
    .code{
        font-size:30px;
    }
    .weather-icon{
        width:100px;
        height:100px;
    }
    .weather-description{
        font-size:20px;
    }
    .cur-num{
        font-size:50px;
    }
    .cur-degree{
        width:10px;
        height:10px;
    }
    .app-num{
        font-size:25px;
    }
    .app-degree{
        width:8px;
        height:8px;
    }
}


@media (max-width:800px){
    .Main{
        width:100%;
        height:93vh;
        margin-top:7vh;
    }
}