.Next5{
    width:85%;
    margin:0 auto 0 auto;
    height:200px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.next-block{
    width:20%;
    height:100%;
}
.next-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.next-block p{
    font-size:18px;
    margin-bottom:25px;
}
.next-temp{
    position:relative;
    margin-bottom:35px;
}
.next-num{
    font-size:30px;
    margin-right:5px;
}
.next-degree{
    height:11px;
    width:11px;
    border:3px solid white;
    border-radius: 50%;
    position:absolute;
    top:5px;
}
.divider{
    border:1px solid white;
    height:15%;
}

@media(max-width:1200px){
    .next-block{
        height:50%;
    }
    .next-block p{
        font-size:14px;
    }
    .next-num{
        font-size:30px;
    }
    .next-degree{
        height: 8px;
        width:8px;
    }
}
@media (max-width: 600px){
    .next-block{
        height:50%;
    }
    .next-block p{
        font-size:11px;
    }
    .next-num{
        font-size:20px;
    }
    .next-degree{
        height: 5px;
        width:5px;
        border: 1px solid white;
    }
    .divider{
        height:5%;
    }
}
@media (max-width: 400px){
    .next-block{
        height:50%;
    }
    .next-block p{
        font-size:9px;
    }
    .next-num{
        font-size:20px;
    }
    .next-degree{
        height: 5px;
        width:5px;
        border: 1px solid white;
    }
}