.SideBar{
    width:100%;
    background:rgba(0,0,0,0.25);
    height:93vh;
    overflow-y: scroll;
    z-index: 5;
    transition: all 0.3s ease-in-out;
}
.showing{
  top:7vh !important;
  background:rgba(0,0,0,0.8);

}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @media (max-width:800px){
    .SideBar{
      position:absolute;
      top:-95vh;
      /* bottom:0; */
    }
   
  }